@font-face {

	font-family: "Squared";
	src:  url("font/FROSTBITE-Narrow.ttf");
}

h2, h3{
	text-align: center;
	font-size: 3vw;
}

body {
	background: black;
	color:  limegreen;
	font-family: "Squared";
	font-size: 2vw;
	letter-spacing: 1px;
}

#NameGen {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 3vw;
}

